<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title if title else "Bet on Regret" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <meta property="og:title" content="Bet on Regret" />
    <meta property="og:description" content="Simulate casino games and explore how gambling gets people hooked." />
    <meta property="og:image" content="{{ url_for('static', filename='preview.png', _external=True) }}" />
    <meta property="og:url" content="https://betonregret.org/" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image">
</head>
<body>
    <header>
        <h1>Bet on Regret</h1>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <div class="dropdown">
                <a href="#">Games ▾</a>
                <div class="dropdown-content">
                    <a href="{{ url_for('roulette') }}">Roulette</a>
                    <a href="{{ url_for('craps') }}">Craps</a>
                </div>
            </div>
            <a href="{{ url_for('examples') }}">Examples</a>
            <a href="{{ url_for('videos') }}">Videos</a>
            <a href="{{ url_for('memes') }}">Memes</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <a href="{{ url_for('about') }}" style="color: white; text-decoration: none;">
            <p>
                &copy; 2025 Bet on Regret | <span style="text-decoration: underline;">About</span>
            </p>
        </a>
    </footer>
    
</body>
</html>
